<div class="error-container">
  <div class="error-icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
    </svg>
  </div>

  <div class="error-code">404</div>
  <h1 class="error-title">Page Not Found</h1>

  <p class="error-message">
  The page you are looking for might have been removed, had its name changed,
  or is temporarily unavailable.
  </p>

  <button href="/" class="btn btn-ripple"
                   (click)="toHome()"
    >Back to Home</button>
</div>
